*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #4b4b4b;
    background-color: #101419;
}




.conteneur{
    width: 968px;
    margin: 0 auto;
}

.ligne{
    display: flex;
    flex-wrap: wrap;
}
.full{
    width: 100%;
}
.demi{
    width: 50%;
}
.quart{
    width: 25%;
}
.cent-pc{
    width: 100%;
    max-width: 366px;
}

/* ********** header ********** */
#header{
    background-image: url('../images/background.jpg');
    padding: 25px 0;
}
/* gauche */
#logo{
    text-align: left;
    margin: 10px 0 0;
}
#logo p {
    margin-top: 10px;
}
#logo p span{
    color: #ea9f05;
}
#header-droite{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#header-droite p{
    text-align: right;
}
/* Menu */

#menu ul{
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
#menu ul a{
    color: #ea9f05;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}
#menu ul a:hover{
    text-decoration: underline;
}

/* ********** principal ********** */
aside{
    min-height: 200px;
    background-image: url('../images/header-page-catalogue.png');
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}
#principal div.conteneur{
    background-color: #f3f3f3;
}
#principal .demi{
    padding: 20px;
}
.encart{
    text-align: center;
    background-color: #ffffff;
}
.encart p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
}
.tarifs{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.voir{
    background-color: #282828;
    color: white;
    padding: 10px 20px;
    margin-top: 30px;
}
.prix{
    text-decoration: none;
    color: #ea9f05;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 0;
}
.prix span{
    text-decoration: line-through;
    color: #4b4b4b;
}

/* ********** footer  ***********/
#footer{
    background-color: #373737;
}
#footer .quart{
    color: #fff;
    text-align: center;
}
#footer .quart img{
    margin: 20px 0 0;
}
#footer .quart p{
    margin: 10px 0 20px;
}
#footer .full p{
    color: grey;
    text-align: center;
    font-size: 12px;
    margin: 20px 0;
}
